.DS_Store
eks/terraform.tfstate
eks/terraform.tfstate.backup
.DS_Store
*.tfstate
eks-without-vpc/.terraform/
eks-without-vpc/terraform.tfstate.backup
eks-without-vpc/terraform.tfstate
eks/.terraform/
